[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
python-dotenv = "*"
pyspark = "*"
boto3 = "*"
apache-airflow = {version = "==2.5.2", extras = ["celery"]}
neo4j = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
