[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
boto3 = "*"
apache-airflow = {version = "==2.5.2", extras = ["celery"]}
neo4j = "*"
pyspark = {extras = ["sql"], version = "*"}
sqlalchemy = "*"
pandas = "*"
psycopg2-binary = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
